body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(145deg, #0000ff 0%, #6600cc 16.67%, #9900cc 33.33%, #cc00ff 50%, #ff00ff 66.67%, #ff66ff 83.33%, #ff99ff 100%);
    color: #ffffff; /* Color del texto */
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
    color: #00ff00; /* Color del texto */
}

b1 {
    color: #ffff00; /* Color del texto */
}

ul {
    list-style-type: square;
    padding: 20px;
    background-color: #ff00ff; /* Color de fondo */
    border-radius: 15px;
    margin: 20px;
}

li {
    background-color: #33cc33; /* Color de fondo */
    padding: 20px 40px;
    margin: 20px;
    border: 5px solid #00ff00;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra */
    font-size: 24px;
    color: #0000ff; /* Color del texto */
}

a {
    padding: 15px 30px;
    background-color: #ffff00;
    color: #ff0000;
    border: 3px solid #ff0000;
    border-radius: 35px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
    margin: 20px auto;
    width: fit-content;
    font-size: 24px;
}

a:hover {
    background-color: #ffcc00; /* Color de fondo al pasar el mouse */
    transform: translateY(-5px);
}
